<!DOCTYPE html>
<html>
  <head>
    <title>QuoteEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <% if Rails.env == 'development' %>
      <%# set these values in .env.local %>
      <%= tag :meta, name: :stimulus_debug, content: true if ENV.fetch("STIMULUS_DEBUG", false) %>
      <% console if ENV.fetch("WEB_CONSOLE", false) %>
    <% end %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div id="flash" class="flash">
      <%= render "layouts/flash" %>
    </div>
    <%= yield %>
  </body>
</html>
